@import "@/styles/variables.scss";
.primo-colore{
    background-color: $principal-color;
}
.secondo-colore{
    background-color: #5295BF;
}
.terzo-colore{
    background-color: #477CC1;
}
.padding-cards{
    padding: 50px 0;
}