@import "@/styles/variables.scss";
.container-logo{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}
.face-bg{
background-color: #425894;
}
.twitter-bg{
    background-color: #6BAAE8;
}
.youtube-bg{
    background-color: #BC342C;
}
.instagram-bg{
    background-color: #4B7198;
}